body {
  box-sizing: border-box;
  margin: 0 auto auto auto;
  width: 90%;
  padding: 10% 10%;
  background-color: #f5f5f5;
  font-size: 16px;
}

#list-container {
  background-color: #fff;
}

.container-row,
.item-row {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 2px solid #f5f5f5;
  font-size: 1.25rem;
}

.first-icon {
  color: #ababab;
}

.icons {
  color: #dcdcdc;
}

#clear-btn {
  background: #737373;
  color: #fff;
  border: none;
  text-align: center;
  padding: 1.25rem;
  width: 100%;
  font-size: 1.25rem;
}

#list-input {
  border: none;
}

#list-input::placeholder {
  font-style: italic;
  font-size: larger;
}
